.title {
    font-size: 1.5rem;
}

.field-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.invalid-input-message {
    color: red;
    font-size: 0.7rem;
	height: 20px;
}

.wrapper {
	background-color: #F5EFE6;
	grid-template-rows: auto 1fr auto;
}

.back-button-container {
	width: 50dvw;
	margin: auto;
	margin-top: 20px;
}

.back-button {
	text-decoration: none;
	color: #333;
	font-size: 16px;
	font-weight: bold;
}

.back-button:hover {
	color: #666;
}

.form-container {
	width: 40dvw;
	margin: 40px auto;
	padding: 30px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.field-label {
	font-weight: bold;
}

.field {
	width: 300px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 1rem;
	resize: none;
	font-family: "Lora";
}

.button {
	margin-top: 20px;
}